# Ignore virtual environments
venv/
ENV/
env/

# Ignore compiled files and caches
__pycache__/
**/__pycache__/
*.py[cod]
*.so
*.pyd

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore node_modules (for frontend)
node_modules/

# Ignore binary files
*.dll
*.exe

# Ignore model and scaler files if they're large
*.h5
*.hdf5
*.model
*.pkl
*.save
*.pb

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
